* {
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    background-color: #DFD6A7;
    background-image: url("./img/rosebcg.jpg");
    object-fit: cover;
    background-size: cover;

}

.navbar {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vmin;
}

.head i {
    font-size: 5vmin;
}

.head {
    height: 10vmin;
    width: 30vmin;
    color: #de3a11 ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.5vmin;
    font-size: 4vmin;

}

.difpg {
    height: 10vmin;
    width: 75vmin;
    gap: 2vmin;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8vmin;
}

.difpg a {
    text-decoration: none;
    font-size: 3vmin;
    color: #1F1300;
    font-weight: bold;
    border: 0.5vmin solid transparent;
}

.difpg a:hover {
    border: 0.5vmin solid #f8f8f7 ;
    cursor: pointer;
}

.option {
    width: 15vmin;
    height: 5vmin;
    border: 0.5vmin solid #AF9B46;
    background-color: #F7CE58;
    border-radius: 25px;
    font-size: 3vmin;
    cursor: pointer;
}

.option:hover {
    border: 0.5vmin solid #c500b5;
}

hr {
    position: absolute;
    margin-bottom: 0px;
    margin-top: 10vmin;
    width: 90vw;
    height: 1vmin;
    border-radius: 50%;
    background-color: #1f1300;
    border: none;
}

.central {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
   
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
    margin: 2vmin;
    background-color: #000000;
    
}


.image img {
    height: 60vmin;
    width: 60vmin;
    box-shadow: 5px solid black;
    transform: rotate(-2deg);
}

.description {
    height: 90vh;
    width: 90vmin;
    text-align: center;
    margin: 2vmin;
    align-items: center;
}

.foot {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-items: top;
    margin-bottom: 0%;
    width: 100vw;
    height: 30vmin;
    font-size: 2vmin;
    background-color: rgba(16, 15, 15, 0.792);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.smedia {
    margin: 5vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   /** background-color: #c500b5;**/
    gap: 5vmin;
    list-style: none;
}

.smedia a {
    text-decoration: none;
    color: white;
}


.end {
    display: flex;
    justify-content: space-evenly;
}